
### Django ###
*.log
.git
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
amresh
/static
realtors/migrations
realtors/__init__.py
pages/migrations/__init__.py
pages/__init__.py
listings/migrations
listings/__init__.py
contacts/migrations
contacts/__init__.py
btre/static/webfonts
accounts/migrations
accounts/__init__.py
btre/static
